#root {
  text-align: center;
  background-color: #f7f8fc;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}